.detail__img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    background: #202020;
    padding: 2px;
}

.detail__count {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
}