.navcoffee {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    gap: 16px;
    background: #111;
    color: white;
}

.brand__logo {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.navcoffee__links {
    display: flex;
    gap: 16px;
}

.navcoffee a {
    color: #fff;
    text-decoration: none;
}

.is-active {
    text-decoration: underline;
}

.local {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}