.navcoffee {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 16px;
    background: #9c6a3fe2;
    color: #F1F1F1;
    border-bottom: 1px solid #3A3A3A;
}
.brand__logo {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.navcoffee__links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navcoffee a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease;
}

.navcoffee a:hover {
    color: #000000;
}

.is-active {
    color: #9C6B3F;
    border-bottom: 1px solid #9C6B3F;
    padding-bottom: 2px;
}

.local {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}